.badge-popularity {
  padding: 20px 15px;
}

.button-favorite {
  background:none;
  border:none;
  font-size:3em;
  color:gold;
}

.row-movie-details-icons {
  align-items: center;
}

.App-header.navbar-expand {
  justify-content: space-between;
}

.navbar-brand-list-header {
  margin: 0 auto;
}

.list-group-item-movie .row {
  align-items: center;
}

.list-group-item-movie-row-info {
  justify-content: space-around;
}

.movie-detail img {
  padding: 1em;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2px 10px;
  color: white;
  border-radius: 3;
}
